body {
  margin: 0;
  padding: 0;
}
#video {
  position: relative;
}
#video video {
  height: 100vh;
  width: 100%;
  background-position: absolute;
  z-index: 10;
  object-fit: cover;
}
#video .content {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100px;
  width: 100%;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}
#video .content h1 {
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
